.main-book-container {
    display:  flex;
    align-items: center; 
    height: 170vh; 
    width: 100vw; 
    flex-direction: column;
    margin-top: 6.5rem;
  }
  .main-book {
    padding: 20px;
    max-width: 400px; 
    text-align: center; 
    background-color: #755985; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  } 
  