.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #755985;
}
label{
    margin-right: 3pt;
    font-weight: bold;
}
input{
    margin-left: 3pt;
}
.search {
    display: flex;
    align-items: flex-end; 
    padding-bottom: 6pt;
    margin-left: .5rem;
}

.about{
    display: flex;
    align-items:flex-start;
    margin-right: .5rem;
}
h3{
  margin-left: .5rem;  
}
.search button{
    margin-left: .5rem;
    height: 17.5pt;
    width: 70pt;
    border-radius: 0;
    font-size: 12pt;
    font-weight:bold;
}