.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #755985;
}

.about{
    display: flex;
    align-items:flex-start;
    margin-right: .5rem;
}
h3{
  margin-left: .5rem;  
}
h1{
  margin-left: 2rem;
}
