.all-books-container {
    display:  flex;
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
    flex-direction: column;
}    
.books {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
    margin-left: 8rem; 
   
}

.books img {
    height: 15rem;
    margin-bottom: 5rem;
}

.side-elements {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.genre-filter {
    margin-top: 5rem;
}
