.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-elements {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.genre {
  left: 10px; 
}

.author {
  right: 10px; 
}

.main-book {
  z-index: 1;
  text-align: center;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 14rem;
}
button{
  background-color: #755985;
  height: 30pt;
  width: 120pt;
  border-radius: 10pt;
  color: #f4ebfe;
  font-size: large;
}