.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-elements {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  }

.genre {
  left: 10px;
}

.author {
  right: 10px; 
}

.main-book {
  z-index: 1;
  text-align: center;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20pt;
}
button{
  background-color: #755985;
  height: 30pt;
  width: 120pt;
  border-radius: 10pt;
  color: #f4ebfe;
  font-size: large;
}
.all-books-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6rem 2rem; /* Adjust padding instead of height for better responsiveness */
}