.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 20px;
}
.element{
  margin-top: 18rem;
}

.side-elements {
  position: fixed;
  top: 720pt; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin-top: 75rem;
}

/* Adjust margin-top to ensure proper spacing */
.genre {
  left: 10px;
  margin-top: 1rem; /* Add margin-top */
}

.author {
  right: 10px;
  margin-top: 1rem; /* Add margin-top */
}

/* Ensure the header does not cover the content */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header stays above other content */
}

.main-book {
  z-index: 1;
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 600px; 
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20pt;
}


button {
  background-color: #755985; 
  height: 40pt; 
  width: 130pt; 
  border-radius: 10pt; 
  color: #f4ebfe; 
  font-size: large; 
  border: 2px solid black; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #6b4d7a; 
}


.all-books-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem; 
  flex-wrap: wrap; 
}


img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 720px) {
  .main-page {
    flex-direction: row; 
  }
  
  .side-elements {
    width: auto;
    margin-top: 7rem;
  }

  .all-books-container {
    justify-content: center; 
  }
}


@media(min-width: 992px) {
  .main-page {
    padding: 3rem;
  }

  .side-elements {
    width: auto;
    margin-top: 7rem;
  }
}
