
.selected-book-container {
    display: flex;
    align-items: center;
    height: 80vh;
    width: 100vw;
    flex-direction: row;
    margin-top: 6.5rem;
    padding: 0px;
    max-width: 800px;
    text-align: center;
    background-color: #755985;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 23rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  img{
    max-width: 15rem;
  }

  p {
    text-align: justify;
  }
  

  .summary {
    margin-left: 2rem;
  }
  
  .summary button {
    background-color: #755985; 
  height: 30pt; 
  width: 120pt;
  border-radius: 10pt;
  color: #f4ebfe; 
  font-size: large;
  border: 2px solid #f4ebfe; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}
.side-elements{
  top:732px;
}

button:hover {
  background-color: #6b4d7a; 
}
  
  
  @media (max-width: 900px) {
    .selected-book-container {
      flex-direction: column;
      height: auto; /* Adjust height for better fit */
      margin-left: 0; /* Center align for smaller screens */
      margin-top: 3rem; /* Adjust margin for better spacing */
      max-width: 100%; /* Full width for smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .summary {
      margin-left: 0; /* Remove left margin for smaller screens */
    }
  }
  
  /* Responsive styles for small screens */
  @media (max-width: 600px) {
    .selected-book-container {
      flex-direction: column;
      height: auto; /* Adjust height for better fit */
      margin-left: 0; /* Center align for very small screens */
      margin-top: 2rem; /* Adjust margin for better spacing */
      max-width: 100%; /* Full width for very small screens */
      padding: 10px; /* Adjust padding for very small screens */
    }
  
    .summary {
      margin-left: 0; /* Remove left margin for very small screens */
    }
  
    .summary button {
      width: 100%; /* Full width button for very small screens */
    }
  }
  