.suggested-books{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem; 
    margin-left: 8rem; 
    margin-top: 5rem;
}
.suggested-books img{
    height: 15rem;
    width: auto;
    margin-bottom: 5rem;
}
.container{
  align-items: flex-end;
}
.next{
  display: block;
  margin-left: 4rem;
  margin-top: 3rem;
}